<!DOCTYPE html>
<html>
<head>
    <title>Clique Analyzer</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylehseet" type="text/css" href="//cdn.datatables.net/responsive/1.0.1/css/dataTables.responsive.css">
    <style>
        #locationmap {
            width: 420px;
            height: 500px;
        }

        #hashtagmap {
            width: 100%;
            height: 400px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header_resize">
                <div class="logo">
                    <h1 style="margin-top: -25px;">
                        <a href="#"><span>Clique</span><small>shared economy</small></a>
                    </h1>
                </div>
                <div class="menu">
                    <ul id="menunav">
                        <li><a href="@Url.Action("Location","Home")" class="active"><span>Location</span></a></li>
                        <li><a href="@Url.Action("HashTag","Home")"><span>Hash Tag</span></a></li>
                        <li><a href="@Url.Action("Event","Home")"><span>Events</span></a></li>
                        <li><a href="@Url.Action("Index", "Home")"><span>Dashboard</span></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="body">
            <div class="body_resize">
                @RenderBody()
                <div class="clr">
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_resize">
                <h4>
                    <p class="text-center">
                        Copyright &copy; 2015 <strong style="color:orange">Clique</strong> by <strong style="color:purple">Time Travelers</strong>
                    </p>
                </h4>

                <div class="clr">
                </div>
            </div>
            <div class="clr">
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/Home/DashboardViewModel.js")
    @Scripts.Render("~/Scripts/HashTag/HashTagViewModel.js")
    @Scripts.Render("~/Scripts/Location/LocationViewModel.js")
    @Scripts.Render("~/Scripts/Event/EventViewModel.js")
    @Scripts.Render("~/Scripts/Home/HashTagRequestModel.js")
    @Scripts.Render("~/Scripts/Home/LocationRequestModel.js")
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="//cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.js"></script>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        //var baseUrl = '@Url.Content("~/")';
        var baseUrl = 'http://cliqueanalyzer.azurewebsites.net/';
        $(document).ready(function () {
            $('#menunav li a').click(function (e) {
                debugger;
                $("#menunav").find(".active").removeClass("active");
                $(this).addClass("active");

            });

        });
    </script>

</body>
</html>
